<%= form_tag "/morty", method: :patch do %>
<p> Character: <input type="text" name="character"></p>
<p> Quote: <input type="text" name="quote"></p>
<input type="submit" value="Edit Character">
<% end %>