<h1>Here are your Characters:</h1>

<%= @morty %>
<p><%= @morty["character"] %></p>
<p><%= @morty["quote"] %></p>
 <input type="submit" value="Destroy Character">
<%= link_to "Delete Me", "/mortys/#{@morty.id}", method: :delete %>
